.menu li a{
     text-decoration: none;
     /* display: block; */
     margin-left: 20px;
      color: white;

}
.menu{
    list-style: none;
    display: flex;
    /* margin-right: 0px; */

}
 header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #0597F2;
    border-radius: 5px;


} 
.logo{
    height: 50px;
    width: 50px;
    border-radius:10px;
    background-color: #970FF2;
    margin-left: 10px;
}
  h1{
 
    transform: translateY(35px);
    text-align: center;
} 
           /* -------------------parete responsavel pelas caixas de texto laterais--------------- */
 .bloco01{
    max-width: 300px;
   
    background-color: #F24607;
    border-radius: 10px;
    width: 22em;
    height: 25em;
    text-align: center; 
    transform: translate(1em,5em);
    
}

.bloco02{
    max-width: 300px;
    background-color:#EAF205;
    border-radius: 10px;
    width: 22em;
    height:15em ;
    text-align: center;
    transform: translate(1em,85px);
    
}

.bloco03{
    max-width: 300px;
    background-color:#49D907;
    border-radius: 10px;
    width: 22em;
    height:15em ;
    text-align: center;
    transform: translate(1em,90px);
   
} 

 /* -------------------parte responsavel pelos slotes de imagens--------------- */

 .row{

    display: flex; 
    transform: translate(23em,-50em); 
    padding: 2px;
    width: 800px;
    
} 
.row :hover{

 opacity: 85%;
 
}
img{
    border-radius: 25px;
}
.container p{
    background-color: #970FF2;
    transform: translate(15em,-49em); 
     width: 71%;
    border-radius: 10px;
    text-align: center;

}

.fundo{
    background-color: rgb(232, 230, 243);
    
}
