.menu li a{
     text-decoration: none;
     display: block;
     margin-left: 20px;
      color: white;

}
.menu{
    list-style: none;
    display: flex;
    margin-right: 50px;

}
header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #267365;
    border-radius: 5px;


}
.logo{
    height: 50px;
    width: 50px;
    border-radius:10px;
    background-color: #F2CB05;
    margin-left: 10px;
}
 h1{
    /* margin-top: 300px; */
    transform: translateY(35px);
    text-align: center;
}
           /* -------------------parete responsavel pelos boões laterais--------------- */
.bloco01{
    background-color: #F28705;
    border-radius: 10px;
    width: 24em;
    height: 25em;
    text-align: center;
    transform: translate(2em,5em);
}
.bloco02{
    background-color:#F2CB05;
    border-radius: 10px;
    width: 24em;
    height:15em ;
    text-align: center;
    transform: translate(2em,85px);
}
.bloco03{
    background-color:#F23030;
    border-radius: 10px;
    width: 24em;
    height:15em ;
    text-align: center;
    transform: translate(2em,90px);
}

 /* -------------------parete responsavel pelos slotes--------------- */

.container{
    display: flex;
    transform: translate(23em,2em);
}

.slote{
    background-color: #267365;
    border-radius: 15px;
    width: 250px;
    height: 160px;
    margin-left: 15px;
    margin-top: -52em;
}
